* {
    padding: 0;
    margin: 0;
    border: 0;
}

header h1 {
	font-size: 3em;
	text-decoration: underline;
	text-align: center;
}

nav {
    padding: 5px 0;
	width: 100%;
	background-color: black;
	min-height: 50px;
}

nav ul {
    display: block;
	text-align: center;
}

nav ul li {
    display: inline-block;
	list-style: none;
	width: 15%;
	background-color: black;
	margin-top: .8%;
}

nav a {
    color: lightskyblue;
	text-decoration: none;
	font-size: 1.5em;
}

nav ul li:hover {
	color: orange;
	text-decoration: underline;
}

main {

}

#container {
    padding: 3% 0;
	margin: 0 auto;
	width: 80%;
	min-height: 500px;
	font-size: 1.8em;
	background-color: black;
    color: aliceblue;
}

img {
    float: right;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 1em;
    border-color: aliceblue;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

label {
	color: aliceblue;
}

input {
    height: 2em;
    width: 17em;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    font-weight: bold;
    background-color: aliceblue;
    color: black;
    border: 5px double black;
}

.frmButton {
	width: 10em;
}

.frmButton:active {
	background-color: orange;
}

footer {
    
}