* {
    padding: 0;
    margin: 0;
    border: 0;
}

header {

}

nav {
    display: inline-block;
}

main {

}

#contaier {
    max-width: 80%;
}

img {
    float: left;
}

p {
    font-size: 2em;
}

footer {
    
}